<!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-3">
        <h3><i class="fa fa-angle-right"></i> Farm List</h3></div>
            <div class="col-sm-7"></div>
            <div class="col-sm-2" ng-show="User.role == 'farmer'">
        <a href="#/addFarm"> <br><button class="btn btn-default btn-primary" >Add farm</button></a>
                </div>
        </div>
<!-- Table -->
    <table class="table table-hover">
        <tr >
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Address</th>
            <th ng-show="User.role == 'farmer'">Edit</th>
            <th ng-show="User.role == 'farmer'">Delete</th>
            <th>Select</th>
        </tr>
        <tr ng-repeat="farm in farms">
            <td>{{$index+1}}</td>
            <td><a ng-href="#/viewFarm/{{farm.id}}">{{farm.name}}</a></td>
            <td>{{farm.description}}</td>
            <td>{{farm.address}}</td>
            <td ng-show="User.role == 'farmer'">&nbsp;<a ng-href="#/editFarm/{{farm.id}}"><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a></td>
            <td ng-show="User.role == 'farmer'">&nbsp;<a href="#/showFarmList" ng-click="deleteFarm(farm.id)"><button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></a></td>
            <td >&nbsp;<a ng-href="#/viewPlotList" ng-click="selectFarm(farm.id,farm.name)"><button class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-pushpin" style="color: white" aria-hidden="true"></i></button>
            </a>
            </td>
        </tr>
    </table>
        </section>
    </section>
