<section id="main-content">
    <section class="wrapper">
        <div class="form-body">
            <div class="col-lg-12">
                <div class="row content-panel">
            <div class="col-md-4 profile-text col-md-push-3">
                <h2 style="color: #FF865C">{{member.name}} {{member.lastname}}</h2>
                <h5 style="margin-left: 0px">{{member.role}}</h5>
                <h4 style="margin-left: 0px">Telephone</h4>
                <h5 style="margin-left: 0px">{{member.phoneNumber}}</h5>
                <h4 style="margin-left: 0px">Email</h4>
                <h5 style="margin-left: 0px">{{member.email}}</h5>
            </div>
            <div class="col-md-2 centered col-md-push-3">
                <div class="profile-pic">
                    <p><img ng-if="member.pictureDist" src="{{member.pictureDist}}" class="img-circle thumbnail" height="200px" width="200px"  style="border:1px solid black;" >
                        <img ng-if="!member.pictureDist" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" class="img-circle" height="180px" width="150px"  style="border:1px solid black;" ></p>
                </div>
            </div>

            </div>
        </div>
            </div>
    </section>
        <section class="side-minheight wrapper " style="margin-top: 10px" ng-show="User.role=='farm worker'">
         <div class="form-body">
                <div class="col-lg-12">
                    <div class="row content-panel">
                    <div class="col-md-6 profile-text">
                        <div class="col-sm-12 detailed" ng-hide="member.role=='farmer'">
                        <h4>User Stats</h4>
                            <div class="row centered mt mb">
                        <div class="col-sm-6">
                        <h1><i class="fa fa-thumbs-up"></i></h1>
                        <h3>{{taskDone}}</h3>
                        <h6>TASK DONE ON TIME</h6>
                        </div>
                        <div class="col-sm-6">
                        <h1><i class="fa fa-thumbs-down"></i></h1>
                        <h3>{{taskLate}}</h3>
                        <h6>TASK DONE LATE</h6>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="col-md-6 profile-text">
                    <table  class="col-sm-11 col-sm-pull-1" style="margin-top: 70px;">
                    <tr >
                        <th class="col-sm-4 profile-text col-sm-push-0">Status
                        </th>
                        <th  class="col-sm-offset-1">Task
                        </th>
                    </tr>
                    <tr>
                        <td class="col-sm-4 ">Task done : {{taskAll}}
                        </td>
                        <td >
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="{{percentTaskDone}}" aria-valuemin="0" aria-valuemax="100" ng-style="taskDoneStyle">
                                    <span class="sr-only">{{percentTaskDone}}% Complete</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4 ">
                            Remaining task : {{taskRemain}}
                        </td>
                        <td class="col-sm-offset-1">
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="{{percentTaskLate}}" aria-valuemin="0" aria-valuemax="100" ng-style="taskLateStyle" >
                                    <span class="sr-only">{{percentTaskLate}}% Complete</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </table>
                        </div>
                        </div>
                    </div>
             </div>
        </section>
</section>
