<section id="main-content">
  <section class="wrapper" style="padding-bottom: 0px;">
      <div class="row">
        <h3 class="col-lg-6"> Photos from the camera </h3>
      </diV>
      <div class="row">
          <iframe src="https://drive.google.com/embeddedfolderview?id=0B2MTa9YtL4yGcmswZ3dyaWpiTzA#grid" width="100%" height="500px" frameborder="0">
          <div class="embed-responsive embed-responsive-16by9" style="text-align: center;">
            </iframe>
          </div>
      </div>
    </section>
    <section class="wrapper site-min-height" style="margin-top: 0px;">
        <h3 ng-show="daily"><i class="fa fa-angle-right"></i> Sensing Device Daily Summary <a href="#/viewWeeklySummary/{{DeviceId}}"><button class="btn btn-default btn-primary">Weekly</button></a></h3>
        <h3 ng-show="weekly"><i class="fa fa-angle-right"></i> Sensing Device Weekly Summary <a href="#/viewDailySummary/{{DeviceId}}"><button class="btn btn-default btn-primary">Daily</button></a></h3>
        <div class="row mt">
            <div class="col-lg-3">
                <p><h2>Light </h2>
                <p><h4>Max : {{light.lightMax|number:2}} lux.</h4>
                <p><h4>Average : {{light.lightAverage|number:2}} lux.</h4>
                <p><h4>Min : {{light.lightMin|number:2}} lux.</h4>
                <p><h4 ng-show="daily">10 Minute ago : {{current[0].luxValue|number:2}} lux.</h4>
                <button type="submit" class="btn btn-default" ng-click="showLight()">Show Light graph</button>
            </div>
            <div class="col-lg-3">
                <p><h2>Temperature </h2>
                <p><h4>Max : {{temperature.tempMax|number:2}} celsius.</h4>
                <p><h4>Average : {{temperature.tempAverage|number:2}} celsius.</h4>
                <p><h4>Min : {{temperature.tempMin|number:2}} celsius.</h4>
                <p><h4 ng-show="daily">10 Minute ago : {{current[1].celsiusValue|number:2}} celsius</h4>
                <button type="submit" class="btn btn-default" ng-click="showTemperature()">Show Temperature graph</button>
            </div>
            <div class="col-lg-3">
                <p><h2>Humidity </h2>
                <p><h4>Max : {{humidity.humidityMax|number:2}} %</h4>
                <p><h4>Average : {{humidity.humidityAverage|number:2}} %</h4>
                <p><h4>Min : {{humidity.humidityMin|number:2}} %</h4>
                <p><h4 ng-show="daily">10 Minute ago : {{current[2].humidityPercentage|number:2}} %</h4>
                <button type="submit" class="btn btn-default" ng-click="showHumidity()">Show Air humidity graph</button>
            </div>
            <div class="col-lg-3">
                <p><h2>Soil moisture </h2>
                <p><h4>Max : {{soilMoisture.soilMax|number:2}}</h4>
                <p><h4>Min : {{soilMoisture.soilMin|number:2}}</h4>
                <p><h4>Average : {{soilMoisture.soilAverage|number:2}}</h4>
                <p><h4 ng-show="daily">10 Minute ago : {{current[3].soilValue|number:2}}</h4>

                <button type="submit" class="btn btn-default" ng-click="showSoilMoisture()">Show Soil moisture graph</button>
            </div>
        </div>
        <div class="col-lg-12" ng-show="lightGraph||humidityGraph||temperatureGraph||soilMoistureGraph">
            <div google-chart chart="chart" style="{{cssStyle}}"></div>
            <!-- explicit close of tag seems to be necessary -->
        </div>
        <div class="col-lg-12" style="margin-top: 20px; width: 100%">
        <a class="btn btn-block btn-warning" id="tap-controller" onclick="switchPress()">
                OFF
        </a>
              <button data-toggle="collapse" data-target="#soil-setting" class="btn btn-block btn-primary">Setting</button>

              <h4><label id="soil-value" class="label label-info"></label></h4>

              <div id="soil-setting" class="collapse">
                  <div class="input-group">
                    <input id="soil-danger" type="number" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#soil-setting" onclick="setSoil()">Save</button>
                    </span>
                  </div><!-- /input-group -->
              </div>
        </div>
    </section>
</section>
