.input-picker .ws-picker-body, .input-picker .ws-button-row, .input-picker .picker-grid, .input-picker .picker-list, .input-picker .ws-options button {
}
.input-picker .ws-picker-body::before, .input-picker .ws-button-row::before, .input-picker .picker-grid::before, .input-picker .picker-list::before, .input-picker .ws-options button::before, .input-picker .ws-picker-body::after, .input-picker .ws-button-row::after, .input-picker .picker-grid::after, .input-picker .picker-list::after, .input-picker .ws-options button::after {
    clear: both;
    content: " ";
    display: table;
}
.input-picker[data-class~="show-week"] .ws-week, .show-week .input-picker .ws-week {
    display: table-cell;
}
.input-picker[data-class~="show-yearbtns"] .ws-picker-header, .show-yearbtns .input-picker .ws-picker-header {
    margin: 0 4.23077em;
}
.input-picker[data-class~="show-yearbtns"] button.ws-year-btn, .show-yearbtns .input-picker button.ws-year-btn {
    display: inline-block;
}
.input-picker[data-class~="hide-btnrow"] .ws-button-row, .hide-btnrow .input-picker .ws-button-row {
    display: none;
}
.input-picker[data-class~="show-selectnav"] .ws-picker-header > button::after, .show-selectnav .input-picker .ws-picker-header > button::after, .input-picker[data-class~="show-uparrow"] .ws-picker-header > button::after, .show-uparrow .input-picker .ws-picker-header > button::after {
    display: inline-block;
}
.input-picker[data-class~="show-selectnav"] .ws-picker-header > select, .show-selectnav .input-picker .ws-picker-header > select {
    display: inline-block;
}
.input-picker[data-class~="show-selectnav"] .ws-picker-header > button, .show-selectnav .input-picker .ws-picker-header > button {
    width: auto;
}
.input-picker[data-class~="show-selectnav"] .ws-picker-header > button > span, .show-selectnav .input-picker .ws-picker-header > button > span {
    display: none;
}
.input-picker .ws-button-row > button {
    background: #ccc none repeat scroll 0 0;
    border: 0.07692em solid transparent;
    display: inline-block;
    padding: 0.38462em 0.61538em;
}
.input-picker {
    font-family: sans-serif;
    font-size: 13px;
    max-width: 98vw;
    min-width: 20.7692em;
    outline: 0 none;
    overflow: visible;
    text-align: center;
    width: 29.2308em;
}
.input-picker .ws-po-outerbox {
    transform: translate(0px, 30%);
}
.input-picker[data-vertical="bottom"] .ws-po-outerbox {
    transform: translate(0px, -30%);
}
.input-picker.time-popover, .input-picker.datetime-local-popover {
    width: 31.9231em;
}
.input-picker.time-popover .ws-prev, .input-picker.time-popover .ws-next, .input-picker.time-popover .ws-super-prev, .input-picker.time-popover .ws-super-next {
    display: none;
}
.input-picker.ws-size-2 {
    min-width: 51.5385em;
    width: 51.9231em;
}
.input-picker.ws-size-3 {
    min-width: 75.5385em;
    width: 75.7692em;
}
.input-picker.color-popover {
    min-width: 575px;
    width: 590px;
}
.input-picker abbr[title] {
    cursor: help;
}
.input-picker li, .input-picker button {
    color: #000;
    font-size: 1em;
    line-height: 1.23077em;
    transition: all 400ms ease 0s;
}
.input-picker .ws-focus, .input-picker *:focus {
    outline: 1px dotted #000;
}
.input-picker .ws-po-box {
    direction: ltr;
    padding: 1.15385em 1.53846em;
    position: relative;
}
.input-picker .ws-picker-controls {
    position: absolute;
    top: 1.15385em;
}
.input-picker .ws-picker-controls > button {
    background: #eee none repeat scroll 0 0;
    border: 0.07692em solid #ccc;
    box-sizing: content-box;
    color: #333;
    height: 1.84615em;
    padding: 0;
    width: 1.84615em;
    z-index: 1;
}
.input-picker .ws-picker-controls > button.ws-year-btn::after, .input-picker .ws-picker-controls > button::before {
    border-style: solid;
    content: "";
    display: inline-block;
    height: 0;
    margin-top: 0.29231em;
    width: 0;
}
.input-picker .ws-picker-controls > button:hover {
    border-color: #666;
    color: #000;
}
.input-picker .ws-picker-controls > button[disabled] {
    border-color: #eee;
    color: #ddd;
    opacity: 0.4;
}
.input-picker .prev-controls, .input-picker .ws-po-box[dir="rtl"] .next-controls {
    left: 1.53846em;
    right: auto;
}
.input-picker .prev-controls > .ws-year-btn::after, .input-picker .prev-controls > button::before, .input-picker .ws-po-box[dir="rtl"] .next-controls > .ws-year-btn::after, .input-picker .ws-po-box[dir="rtl"] .next-controls > button::before {
    border-color: transparent #333 transparent transparent;
    border-width: 0.35em 0.6em 0.35em 0;
    margin-left: -0.1em;
}
.input-picker .prev-controls > .ws-year-btn, .input-picker .ws-po-box[dir="rtl"] .next-controls > .ws-year-btn {
    margin-left: 0;
    margin-right: 0.23077em;
}
.input-picker .prev-controls > .ws-year-btn[disabled], .input-picker .ws-po-box[dir="rtl"] .next-controls > .ws-year-btn[disabled] {
    display: none;
}
.input-picker .next-controls, .input-picker .ws-po-box[dir="rtl"] .prev-controls {
    left: auto;
    right: 1.53846em;
}
.input-picker .next-controls > button::before, .input-picker .ws-po-box[dir="rtl"] .prev-controls > button::before {
    margin-left: 0.11538em;
}
.input-picker .next-controls > .ws-year-btn::after, .input-picker .next-controls > button::before, .input-picker .ws-po-box[dir="rtl"] .prev-controls > .ws-year-btn::after, .input-picker .ws-po-box[dir="rtl"] .prev-controls > button::before {
    border-color: transparent transparent transparent #333;
    border-width: 0.35em 0 0.35em 0.6em;
    margin-right: -0.1em;
}
.input-picker .next-controls > .ws-year-btn, .input-picker .ws-po-box[dir="rtl"] .prev-controls > .ws-year-btn {
    margin-left: 0.23077em;
    margin-right: 0;
}
.input-picker .next-controls > .ws-year-btn[disabled], .input-picker .ws-po-box[dir="rtl"] .prev-controls > .ws-year-btn[disabled] {
    display: none;
}
.input-picker.ws-po-visible .ws-picker-controls > button::after, .input-picker.ws-po-visible .ws-picker-controls > button::before {
    content: " ";
}
.input-picker .ws-po-box[dir="rtl"] {
    direction: rtl;
}
.input-picker.time-popover .ws-picker-body {
    padding-top: 2.76923em;
}
.input-picker .ws-picker-body {
    margin: 0 -0.76923em;
    padding: 3.07692em 0 0;
    position: relative;
}
.input-picker .ws-button-row {
    border-top: 0.07692em solid #eee;
    margin: 0.76923em 0 0;
    padding: 0.76923em 0 0;
    position: relative;
    text-align: left;
    z-index: 2;
}
.input-picker .ws-button-row > button {
    background-color: #ddd;
    background-image: linear-gradient(to bottom, #ececec 0px, #ddd 100%);
    border: 0.07692em solid #ccc;
    float: left;
    transition: border-color 200ms linear 0s;
}
.input-picker .ws-button-row > button.ws-empty {
    float: right;
}
.input-picker .ws-po-box[dir="rtl"] .ws-button-row > button {
    float: right;
}
.input-picker .ws-po-box[dir="rtl"] .ws-button-row > button.ws-empty {
    float: left;
}
.input-picker[data-currentview="setMonthList"] .ws-picker-header > select, .input-picker[data-currentview="setYearList"] .ws-picker-header > select {
    max-width: 90%;
}
.input-picker[data-currentview="setDayList"] .ws-picker-header > select {
    max-width: 40%;
}
.input-picker[data-currentview="setDayList"] .ws-picker-header > .month-select {
    max-width: 50%;
}
.input-picker.time-popover .ws-picker-header {
    top: -2.30769em;
}
.input-picker.time-popover .ws-picker-header button {
    font-size: 1.15385em;
}
.input-picker .ws-picker-header {
    left: 0;
    margin: 0 2.69231em;
    position: absolute;
    right: 0;
    top: -3.07692em;
}
.input-picker .ws-picker-header > button {
    color: #000;
    display: inline-block;
    font-weight: 700;
    margin: 0;
    padding: 0.30769em 0;
    width: 100%;
}
.input-picker .ws-picker-header > button > .month-digit, .input-picker .ws-picker-header > button > .monthname-short {
    display: none;
}
.input-picker .ws-picker-header > button::after {
    border-color: transparent transparent #333;
    border-style: solid;
    border-width: 0 0.3em 0.6em;
    content: " ";
    height: 0;
    margin: -0.1em 0.5em 0;
    vertical-align: middle;
    width: 0;
}
.input-picker .ws-picker-header > button:hover {
    text-decoration: underline;
}
.input-picker .ws-picker-header > button[disabled]::after {
    display: none !important;
}
.input-picker .ws-picker-header > button[disabled]:hover {
    text-decoration: none;
}
.input-picker .picker-grid {
    margin: 0 -0.15385em;
    overflow: hidden;
    position: relative;
}
.input-picker .picker-grid .monthname, .input-picker .picker-grid .month-digit {
    display: none;
}
.input-picker.ws-size-1 .picker-list {
    float: none;
    width: auto;
}
.input-picker .picker-list {
    background: #fff none repeat scroll 0 0;
    float: left;
    margin: 0 10px;
    position: relative;
    width: 22.3077em;
}
.input-picker .picker-list tr {
    border: 0 none;
}
.input-picker .picker-list th, .input-picker .picker-list td {
    padding: 0.15385em;
    text-align: center;
}
.input-picker .picker-list.day-list td {
    padding: 0.03846em 0.15385em;
}
.input-picker .picker-list.day-list td > button {
    padding: 0.42308em 0;
}
.input-picker .picker-list.time-list > .ws-picker-header > button > .monthname {
    display: inline;
}
.input-picker .picker-list.time-list td {
    padding: 0.07692em 0.38462em;
}
.input-picker .picker-list.time-list td > button {
    padding: 0.52692em 0;
}
.input-picker .picker-list td > button {
    background-color: #fff;
    color: #000;
    display: block;
    padding: 1.58992em 0;
    width: 100%;
}
.input-picker .picker-list td > button.othermonth {
    color: #888;
}
.input-picker .picker-list td > button:hover, .input-picker .picker-list td > button.checked-value {
    background: #000 none repeat scroll 0 0;
    color: #fff;
}
.input-picker .picker-list td > button[disabled], .input-picker .picker-list td > button[disabled]:hover {
    background-color: #fff;
    color: #888;
}
.input-picker .picker-list table {
    border: 0 none;
    border-collapse: collapse;
    margin: 0;
    table-layout: fixed;
    width: 100%;
}
.input-picker .picker-list th, .input-picker .picker-list td.week-cell {
    font-size: 1em;
    font-weight: 700;
    line-height: 1.23077em;
    padding-bottom: 0.23077em;
    text-transform: uppercase;
}
.input-picker .ws-options {
    border-top: 0.07692em solid #eee;
    margin: 0.76923em 0 0;
    padding: 0.76923em 0 0;
    text-align: left;
}
.input-picker .ws-options h5 {
    font-size: 1.07692em;
    font-weight: 700;
    margin: 0 0 0.38462em;
    padding: 0;
}
.input-picker .ws-options ul, .input-picker .ws-options li {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.input-picker .ws-options button {
    display: block;
    padding: 0.30769em;
    text-align: left;
    width: 100%;
}
.input-picker .ws-options button.ws-focus, .input-picker .ws-options button:focus, .input-picker .ws-options button:hover {
    background: #000 none repeat scroll 0 0;
    color: #fff;
}
.input-picker .ws-options button[disabled], .input-picker .ws-options button.ws-focus[disabled], .input-picker .ws-options button[disabled]:focus, .input-picker .ws-options button[disabled]:hover {
    background: #fff none repeat scroll 0 0;
    color: #888;
    text-decoration: none;
}
.input-picker .ws-options button .ws-value {
    float: left;
}
.input-picker .ws-options button .ws-label {
    float: right;
    font-size: 96%;
}
.input-picker .ws-week, .input-picker .ws-year-btn {
    display: none;
}
.ws-picker-controls > button {
    display: inline-block;
}
.ws-picker-header > button::after {
    display: none;
}
.ws-picker-header select {
    display: none;
}